Repository AtomicFox556/Cataclysm-EOD, pull requests merged in 2023-10, with the labels that each got.

#128 скорость изучения умений
  src/options.cpp
  src/proficiency.cpp
Labels: [C++], stale

#129 Мелкие улучшения
  data/json/items/armor/boots.json
  data/json/items/gunmod/underbarrel.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
  data/json/professions.json
  data/json/recipes/practice/tailoring.json
  data/title/en.christmas
  data/title/en.easter
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Items: Armor / Clothing, Missions

#130 Улучшение интерфейса заклинаний
  data/raw/keybindings.json
  src/magic.cpp
  src/magic.h
  src/ui.cpp
  src/ui.h
Labels: [C++], [JSON], Info / User Interface
