Repository AtomicFox556/Cataclysm-EOD, pull requests merged in 2023-12, with the labels that each got.

#138 Разное
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/misc.json
  data/json/items/armor/torso_clothes.json
  data/json/items/comestibles/egg.json
  data/json/npcs/holdouts/NC_GLOOSCAP.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Items: Armor / Clothing, Items: Food / Vitamins

#136 плюшки ватрушки!
  .github/workflows/msvc-full-features.yml
  .github/workflows/release.yml
  data/json/harvest.json
  data/json/mapgen/map_extras/laststand.json
  data/json/monster_weakpoints/fungaloid_weakpoints.json
  data/json/monster_weakpoints/slime_weakpoints.json
  data/json/monster_weakpoints/triffid_weakpoints.json
  data/json/monsters/fungus.json
  data/json/monsters/slimes.json
  data/json/monsters/triffid.json
  data/json/overmap/map_extras.json
  data/json/proficiencies/weakpoints.json
  data/json/regional_map_settings.json
  data/json/snippets/epilogue_npc.json
  data/json/snippets/fungaloid_anatomy.json
  data/json/snippets/triffid_anatomy.json
  src/condition.cpp
  src/condition.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: [C++], [JSON], NPC / Factions, Map / Mapgen, Code: Tooling, EOC: Effects On Condition, Melee

#141 Port new holy books from BN
  data/json/itemgroups/books.json
  data/json/items/book/spiritual.json
Labels: [JSON], Spawn
