Repository AtomicFox556/Cataclysm-EOD, pull requests merged in 2023-11, with the labels that each got.

#131 Сценарий "безопасное место" теперь безопасен. Крыши можно сломать. Нпс более адекватно относятся к угрозе
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/mapgen/cabin.json
  data/json/mapgen/farm.json
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
  data/json/scenarios.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, Scenarios

#134 Исправление ошибки семян шпината
  data/json/items/comestibles/seed.json
Labels: [JSON]

#133 Futurism
  data/json/EraOfDecay/items/tools/other.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/torso_clothes.json
  data/json/items/melee/high_tech_weapons_melee.json
Labels: [JSON], Items: Armor / Clothing, Melee

#135 быстрый багфикс
  data/json/EraOfDecay/items/tools/other.json
Labels: [JSON]

#139 Fixed vehicle fuel/battery bug.
  src/vehicle.cpp
Labels: [C++], Vehicles, <Bugfix>
